.container {
  display: flex;
  gap: 3em;
  height: 100vh;
  padding-left: 5em;
  padding-top: 1em;
  flex-direction: column;
}
.teachersCardContainer {
  display: flex;
  gap: 1em;
}
.eachTeacherCard {
  flex: 1;
  max-width: 500px;
}
