.container {
  display: flex;
  gap: 3em;
  height: 100vh;
  padding-left: 5em;
  padding-top: 1em;
  flex-direction: column;
}
.teachersCardContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 2em;
}
.head {
  display: flex;
  justify-content: space-between;
  padding-right: 2em;
}

.eachTeacerCard {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
