:root {
  --bg: #81403e;
  --mainBg: white;
  --color: black;
  --softBg: #f0f0f0;
  --animation: .3s all;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background: var(--mainBg);

}

a{
  text-decoration: none;
  color: var(--color);
}