.container{
  display: flex;
  height: 100vh;
}
.sidebar{
  flex: 4;
  background-color: blueviolet;
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
transition: .3s all;
}
.iconsContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.main{
  flex: 96;
  background-color: brown;
}