.container {
  display: flex;
  height: 100vh;
  padding-left: 4em;
  flex-direction: column;

  @media (max-width: 425px) {
    overflow-x: hidden;
    padding: unset;
  }
}
.container section:not(section.navbar, section.testimonials, section.footer) {
  box-shadow: 14px 16px 0px -7px rgba(0, 0, 0, 0.05);
  width: 97%;
  margin: 0 auto;
  background-color: rgb(253, 249, 243);
}
/* NAVBAR */
.navbar {
  display: flex;
  width: 100%;
  padding: 1em 1.5em 1em 1em;
  align-items: center;
  justify-content: space-between;
}

.navbarLeft {
  display: flex;
  gap: 1em;
  margin-left: 1.5em;
  @media (max-width: 1024px) {
    display: none;
  }
}
.navbarRight {
  display: flex;
  gap: 1em;
  align-items: center;
  @media (max-width: 1024px) {
    display: none;
  }
}
/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1em 6em 0 8em;

  @media (max-width: 1214px) {
    padding: 1em 2em 0 4em;
  }
}
.leftHeader,
.joinComLeft,
.secondServiceRight,
.leftThirdService,
.leftLevels {
  display: flex;
  flex-direction: column;
  gap: 1em;
  @media (max-width: 425px) {
    text-align: center;
    align-items: center;
  }
}
/* JOIN COMMUNITY */
.joinCommunity {
  display: flex;
  width: 100%;
  padding: 1em 6em 0 8em;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 425px) {
    padding: 1.5em 2em;
  }
}
.joinComLeft,
.secondServiceRight,
.leftThirdService,
.leftLevels,
.leftLevels {
  width: 40%;

  @media (max-width: 425px) {
    width: 100%;
  }
}
/* SECOND SERVICE */
.secondService {
  display: flex;
  width: 100%;
  padding: 1em 6em 0 8em;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 425px) {
    padding: 1.5em 2em;
  }
}
/* THIRD SERVICE */
.thirdService {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 6em 0 8em;
  @media (max-width: 425px) {
    padding: 1.5em 2em;
  }
}

/* LEVELS */
.levels {
  background-color: var(--softBg) !important;
  display: flex;
  width: 97%;
  padding: 1em 6em 0 8em;
  align-items: center;
  justify-content: space-around;
  box-shadow: none !important;
  padding-bottom: 1.5em;
  @media (max-width: 425px) {
    flex-direction: column-reverse;
    padding: 1em 2em;
    gap: 1.5em;
  }
}
.levelsImg {
  position: relative;
  bottom: 4em;
  left: 5em;
  @media (max-width: 425px) {
    display: none;
  }
}
.rightLevels {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}

.eachLevel {
  border-bottom: 1px solid rgb(176, 176, 176);
  padding-bottom: 1em;
}
.eachLevel h4 {
  font-size: 25px;
  margin-bottom: 0.5em;
}
.miniBrownLink {
  display: inline-block;
  padding: 0.5em 1em;
  border: none;
  background-color: var(--bg);
  color: white;
  font-weight: bold;
  transition: var(--animation);
  font-size: 12px;
  width: fit-content;
  cursor: default;
}
/* TESTIMONIALS */
.testimonials {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.commentsContainer {
  display: flex;
  padding: 1em 6em 0 8em;
  @media (max-width: 425px) {
    flex-direction: column;
    padding: 0 2em;
    margin-top: 1.5em;
  }
}
.commentsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}
.eachComment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2em;
  background-color: var(--softBg);
  gap: 1em;
}
.eachComment :first-child,
.eachComment :nth-child(3) {
  font-weight: 600;
}
/* FOOTER */
.footer {
  background-color: var(--softBg);
  padding: 0.5em 1.5em;
}
.footerSectionsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  @media (max-width: 425px) {
    flex-direction: column;
    text-align: center;
  }
}
.eachCol {
  display: flex;
  flex-direction: column;
  gap: 1em;
  @media (max-width: 425px) {
    align-items: center;
  }
}
.eachCol h5 {
  font-size: 18px;
}
.eachCol a {
  display: flex;
  align-items: center;
  gap: 1em;
}
.newsletterForm {
  display: flex;
  align-items: center;
  @media (max-width: 425px) {
    flex-direction: column;
    gap: 1em;
  }
}
