.container {
  display: flex;
  gap: 3em;
  height: 100vh;
  padding-top: 1em;
  flex-direction: column;

  overflow-x: hidden;
  @media (min-width: 768px) {
    padding-left: 1em;
  }
}
.teachersCardContainer {
  padding: 0 4em;
  gap: 7em;
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(6, minmax(200px, auto));
  }
}

.eachTeacerCard {
  display: none;
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    text-align: center;
    justify-content: center;

    border-radius: 10px;
    padding: 1em;
    width: 100%;
  }
}
